<div class="container">
    <img src="https://static.vecteezy.com/system/resources/previews/007/978/655/non_2x/background-vintage-barbershop-with-diagonal-colored-stripes-illustration-vector.jpg"
        alt="">
    <p routerLink="/home" class="go_back_arrow">&#8592;</p>
    <h2>Contactos</h2>
    <div class="appointments">
        <b class="bold_size">Horarios:</b>
        <div class="flex_between">
            <p>Segunda</p>
            <p>11:00 - 18:00</p>
        </div>
        <div class="flex_between">
            <p>Terça - Sexta</p>
            <p>09:00 - 19:00</p>
        </div>
        <div class="flex_between">
            <p>Sabado</p>
            <p>08:00 - 15:00</p>
        </div>
        <div class="flex_between">
            <p>Domingo</p>
            <p>Fechado</p>
        </div>
    </div>
    <div class="appointments">

        <div class="block_contact">
            <p class="bold_size">Contacto:</p>
            <p>
                <a class="link" href="tel:+999999999">+999999999</a>
            </p>
        </div>
        <div class="block_contact">
            <p class="bold_size">Localização:</p>
            <p>
                <a class="link"
                    href="https://www.google.com/maps/search/?api=1&query=Unit+A,+Albany+road,+Roath,+Cardiff.+CF24+3RU"
                    target="_blank">
                    Unit A, Albany road, Roath, Cardiff. CF24 3RU
                </a>
            </p>
        </div>
        <div class="block_contact">
            <p class="bold_size">E-mail:</p>
            <p>jakeacutegmail.com</p>
        </div>
    </div>

</div>
<footer>
    <div>
        <span routerLink="/home">Home</span> |
        <span routerLink="https://facebook.com" target="_blank">Facebook</span> |
        <span routerLink="https://instagram.com" target="_blank">Instagram</span>
    </div>

</footer>